html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  color: #2c2c2c;
}

body {
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar {
  display: flex;
  gap: 85px;
  align-items: center;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 55px;
}

.navlinks a {
  text-decoration: none;
  color: #2c2c2c;
}
