html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #2c2c2c;
}

body {
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar {
  display: flex;
  gap: 85px;
  align-items: center;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 55px;
}

.navlinks a {
  text-decoration: none;
  color: #2c2c2c;
}

#shows-preview {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 120px;
    justify-content: center;
    width: 640px;
    margin-bottom: 29px;
}

#shows-preview img {
  width: 180px;
}
.p-footer {
  background: aliceblue;
  padding: 10px;
  font-size: 23px;
  font-weight: 700;
}

.movie-holder {
  display: flex;
  flex-direction: column;
}

.section-underImage {
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
}

.like-button {
  background:none;
  border: none;
  cursor: pointer;
}

.fa-heart:active {
  background: red;
}

.like-button {
    flex-direction: column;
    align-items: center;
    display: flex;
}

footer {
  width: 100%;
}