/* stylelint-disable no-descending-specificity */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fdfdfd;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

button {
  padding: 8px 5px;
  cursor: pointer;
  font-weight: 600;
  background: #d2d2d2;
  border: none;
  border-radius: 3px;
  color: #2c2c2c;
}

button:hover {
  background: #c0c0c0;
}

#navbar {
  display: flex;
  gap: 85px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 26px;
  width: 100%;
  background-color: #fdfdfd;
}

#navbar h1 a {
  text-decoration: none;
  color: #f002;
  background-image: url("../img/blood-wood-360x240.jpg");
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-size: 100% 100%;
  font-size: 2rem;
}

#navbar .navlinks {
  list-style: none;
  display: flex;
  gap: 55px;
  flex-wrap: wrap;
}

.navlinks a {
  text-decoration: none;
  color: #2c2c2c;
  font-weight: 600;
}

.navlinks a:hover {
  color: #414141;
}

#shows-preview {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 5%;
  background-color: #ededfd;
}

.movie-holder {
  display: flex;
  flex-direction: column;
  width: 260px;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
  background: #2c2c2c;
  box-shadow: #a2a2a2 1px 1px 15px 1px;
}

.movie-holder img {
  width: 100%;
}

.movie-holder .show-title {
  width: 100%;
}

.section-underImage {
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
  align-items: flex-start;
  font-weight: 600;
}

.likes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.likes-container p {
  width: max-content;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
}

.like-button:hover i {
  color: red;
}

.like-button:hover {
  background: none;
}

.like-button:active {
  background: none;
}

#popup-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #a2a2a222;
  backdrop-filter: blur(5px);
}

#comments-popup {
  position: fixed;
  background: #2c2c2c;
  top: 25px;
  right: 10%;
  bottom: 25px;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 15px;
  gap: 20px;
  overflow-y: auto;
  border-radius: 4px;
  scroll-behavior: smooth;
}

#comments-popup * {
  max-width: 700px;
  text-align: center;
}

#comments-popup h3 {
  text-align: center;
  margin: 5px 0;
  color: #fdfdfd;
}

#comments-popup .close-butt {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 15px;
  width: 30px;
  height: 30px;
}

.close-butt div {
  width: 25px;
  height: 4px;
  background-color: #fff;
  margin: 1px 0;
}

.close-butt div:nth-child(1) {
  transform: rotate(-49deg) translate(-4px, 0);
}

.close-butt div:nth-child(2) {
  transform: rotate(49deg) translate(-3px, 1px);
}

#comments-popup .img-wrapper {
  width: 400px;
}

#comments-popup .show-name {
  font-size: 2.2rem;
}

#comments-popup .details {
  display: grid;
  grid-template: none / 50% 50%;
  align-content: center;
  border: 2px solid #fff;
  column-gap: 15px;
  row-gap: 15px;
  padding: 15px;
}

#comments-popup span {
  margin: 5px 0;
}

#comments-popup .comments-display {
  width: 80%;
}

#comments-popup .comments-display div {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 150px;
  overflow-y: auto;
}

#comments-popup .new-comment-form {
  display: flex;
  flex-direction: column;
}

.new-comment-form * {
  margin: 5px 0;
  width: 350px;
  padding: 8px 5px;
  color: #2c2c2c;
}

.new-comment-form textarea {
  min-height: 150px;
  resize: none;
}

.new-comment-form input,
.new-comment-form textarea {
  text-align: left !important;
}

footer {
  width: 100%;
  background-color: #fdfdfd;
}

.p-footer {
  padding: 20px 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #2c2c2c;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #comments-popup {
    right: 10px;
    left: 10px;
    top: 10px;
    bottom: 10px;
  }

  #comments-popup .img-wrapper {
    width: 200px;
  }

  .new-comment-form * {
    width: 200px;
  }
}
